
@import url('https://fonts.google.com/specimen/Quantico?preview.text=Tournoi%20de%20jeux-vid%C3%A9os&query=quantico&script=Latn&categoryFilters=Feeling:%2FExpressive%2FFuturistic');
@font-face {
  font-family: 'NeonOverdrive';
  src: url('/fonts/Neon\ Overdrive.otf') format('opentype'),
       url('/fonts/Neon\ Overdrive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


  .Titre {
    display: block;
    padding: 16px;
    border: 2px solid #007bff;
    background-color: #f0f8ff;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 45;
    color: #3C2272;
    font-family: 'NeonOverdrive',sans-serif;
  }
  .sous-titre {
    font-size: 10;
    font-family: 'Quantico';
  }


  body {
    background: #121212;
    margin: 0;
    font-family: sans-serif;
    color: white;
    padding: 0;
  }
  
  .section-carres {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
  }
  
  .grille {
    display: flex;
    gap: 10%;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap; /* pour forcer wrap si écran trop petit */
  }
  
  .carre {
    flex: 1 1 45%;
    aspect-ratio: 1 / 1;
    background-color: #3C2272;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
  }
  
  .carre:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
  }
  



a{
	color: white;
	text-decoration: none;
}



a:hover{
	color: rgb(90, 92, 92);
}




.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsors img{
  width: 40%;
  height: auto;
}

.sponsors div{
  display: flex;
  justify-content: space-evenly;
}

.container-list-projects {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	flex-wrap: wrap;
}



.container-link-projects{
	display: flex;
	width: 20vw;
	height: 60vh;
	background-color: #4e4e4e;
	margin-right:2%;
	margin-bottom: 2%;
	border-radius: 10px;
	justify-content: flex-start;
	flex-wrap: wrap;
}


  .container-link-projects:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
  }



.container-list-footer{
	display: flex;
	justify-content: flex-start;
	width: 80%;
	height: 4vh;

}


#footer-title{
	font-size:2.625rem;
	color: #c9c9c9;

}


.container-link-footer{
	display: flex;
	width: 30%;
	height: 100%;
	background-color: #242424;
	margin-right:2%;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(59, 59, 59);
}


.container-link-footer:hover{
	background-color:rgb(66, 66, 66);
}
