
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: 'NeonOverdrive';
  src: url('/fonts/Neon\ Overdrive.otf') format('opentype'),
       url('/fonts/Neon\ Overdrive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


  .Titre {
    display: block;
    padding: 16px;
    border: 2px solid #007bff;
    background-color: #f0f8ff;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 45;
    color: #3C2272;
    font-family: 'NeonOverdrive',sans-serif;
  }
  .sous-titre {
    font-size: 10;
    font-family: 'Quantico';
  }


  body {
    background: #121212;
    margin: 0;
    font-family: 'Quantico';
    color: white;
    padding: 0;
    min-height: 100%;
    background: linear-gradient(to bottom, #371d6b, #913777);
    padding-bottom: 400px;
  }
  
  .section-carres {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
  }
  
  .grille {
    display: flex;
    gap: 10%;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap; /* pour forcer wrap si écran trop petit */
  }
  
  .carre {
    flex: 1 1 45%;
    aspect-ratio: 1 / 1;
    background-color: #3C2272;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .carre:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
  }

  .image {
    height: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Nom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    font-family: 'Quantico',sans-serif;

  }
  
  .contenu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    padding: 10px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
  }
  